@import 'variables';

.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.accordion-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: $light-grey;
    justify-content: space-between;
    &:hover {
        background: $light-blue;
        cursor: pointer;
    }
}

.accordion-body {
    display: none;
    padding: 1rem;

    &.active {
        display: block;
        border-bottom: 1px solid $light-grey;
    }
}

.accordion-icon-closed, .accordion-icon-open {
    margin: 0 1rem;
}

.accordion-icon-closed {
    display: none;

    &.active {
        display: block;
    }
}

.accordion-icon-open {
    display: block;

    &.active {
        display: none;
    }
}